@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-kumbhSans text-grayishBlue;
  }
  button > svg {
    display: inline-block;
  }
  .App::after {
    @apply content-[''] absolute w-screen h-screen bg-blackTransparent top-0 z-[-1] opacity-0 transition-opacity ease-in duration-200;
  }
  .nav-open::after {
    @apply z-0 opacity-100;
  }
  .nav-open header nav {
    @apply -translate-x-0;
  }
}

@layer components {
  .hidden-menu {
    @apply fixed w-[66.67%] top-0 left-0 ease-in duration-200 z-10 -translate-x-full;
  }
  .v-align-middle {
    @apply top-1/2 -translate-y-1/2;
  }
}

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
